<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bar Chart</title>
    <!-- D3 library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Include Chart.js from CDN -->
    <!-- Plotly library -->
    <!-- <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" integrity="sha512-QmVjTECQsYWjmwCfxqyxDnOJLPQ1dB4t8SHz2vmZnPOUaVtHWSIu8jgvVGoumRUcS1rG/kHLqMehoejvMUXiCPg==" crossorigin="" referrerpolicy="no-referrer" /> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>
<body>
 
    <h2>Bar Chart:</h2>
    <div id="chartContainer">
        <canvas id="myBarChart"></canvas>
    </div>

    <script src='../static/js/barchart.js'></script>
</body>
</html>