<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic Line Chart</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
</head>

<body>
  <h1>Formula 1 Car Speeds (2014-2024)</h1>
  <select id="carSelect"></select>
    <div id="lineChart"></div>

    <script>
        // Retrieving data from /car_speeds_data API endpoint
        var url = 'http://127.0.0.1:5000/car_speeds_data'; 

        // Car constructor names
        var carNames = ["Ferrari", "McLaren", "Mercedes", "Red Bull", "Williams"];

        function createLineChart(carName) {
        fetch(url)
            .then(response => response.json())
            .then(carData => {
            console.log(carData);

            // Prepare line chart data
            var selectedData = [];

            carData.forEach(dataPoint => {
                var year = dataPoint[0];
                var constructor = dataPoint[1];
                var points = dataPoint[2];

                if (constructor === carName) {
                selectedData.push({ x: year, y: points });
                }
            });

            // Create line chart trace (single car)
            var lineTrace = {
                x: selectedData.map(point => point.x),
                y: selectedData.map(point => point.y),
                name: carName,
                mode: 'lines',
                marker: { color: 'blue' } // Adjust color as desired
            };

            // Create a line chart layout
            var lineChartLayout = {
                title: `<b>${carName} Fastest Lap Speeds (2014-2024)</b>`,
                xaxis: { title: `<b>Year<b>` },
                yaxis: { title: `<b>Fastest Lap Speeds (km/hr)<b>` }
            };

            // Create the line chart
            Plotly.newPlot('lineChart', [lineTrace], lineChartLayout);
            })
        }

        function populateCarSelection() {
        var carSelect = document.getElementById('carSelect');

        carNames.forEach(carName => {
            var option = document.createElement('option');
            option.value = carName;
            option.text = carName;
            carSelect.add(option);
        });

        carSelect.addEventListener('change', function() {
            var selectedCar = carSelect.value;
            if (selectedCar === 'All') {
            } else {
            createLineChart(selectedCar);
            }
        });
        }

        populateCarSelection();
  </script>
</body>
</html> -->













 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver Data Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height:  600px;;
            width: 100%;
        }
    </style>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.heat@latest/dist/leaflet-heat.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Driver Data Map</h1>
    <div id="bar"></div>

    <!-- <script>
var url = 'http://127.0.0.1:5000/career_wins_data';

fetch(url)
  .then(response => response.json())
  .then(winsData => {
    // Select top 10 drivers
    var top10Drivers = winsData.slice(0, 10);
    
    // Prepare arrays to store x and y data
    var driverNames = [];
    var careerWins = [];

    // Populate the arrays with data
    for (let i = 0; i < top10Drivers.length; i++) {
      driverNames.push(top10Drivers[i][3]); // Retrieving 'driver names' from index 3
      careerWins.push(top10Drivers[i][4]); // Retrieving 'career wins' from index 4
    }

    // Prepare bar chart data
    var barChartData = {
        type: 'bar',
        orientation: 'h',
        x: careerWins.reverse(),
        y: driverNames.reverse(),
        
     
    };

    // Create a bar chart layout
    var barChartLayout = {
      title: 'Top 10 Formula 1 Drivers Career Wins',
      xaxis: { title: 'Career Wins'},
      height: 400, 
      width: 700,
      margin: {
    l: 150,   // Adjust the left margin to move the chart to the right (in pixels)
    r: 50,    // Right margin
    b: 50,    // Bottom margin
    t: 50,    // Top margin
    pad: 4    // Padding around the chart
  }
    };

    // Create the bar chart
    Plotly.newPlot('bar', [barChartData], barChartLayout);
  });
        </script> --> -->


     <div id="map"></div>
    <script>
        // Create a map centered around a specific location
        var myMap = L.map('map').setView([0, 0], 2);

        // Add a tile layer for the map
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(myMap);

        // Fetch driver data from the Flask endpoint
        var url = 'http://127.0.0.1:5000/driver_data';
        fetch(url)
            .then(response => response.json())
            .then(data => {

                var driverCountByCountry = {};



                // Loop through the driver data and create markers
                data.forEach(driver => {
                    var latitude = driver[6];  // Replace with the actual field name for latitude
                    var longitude = driver[7];  // Replace with the actual field name for longitude
                    var country = driver[5];  // Replace with the actual field name for team

                    if (driverCountByCountry.hasOwnProperty(country)) {
                    driverCountByCountry[country]++;
                    } else {
                    driverCountByCountry[country] = 1;
                    }




                    // Create a marker for each driver
                    L.circle([latitude, longitude],{
                        fillOpacity: .75,
                        color: 'black',
                        fillColor: 'white',
                        radius: driverCountByCountry[country] *4000
                    }).bindPopup(`<b>${driverCountByCountry[country]} Drivers<br><b>Country:</b> ${country}`)
                      .addTo(myMap);
                });
            })
            .catch(error => console.error('Error fetching data:', error));
    </script> 
</body>
</html> 